@import "tailwindcss";
@plugin "daisyui";


:root {
  --font-roboto: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: white;
  color: black;
  font-family: var(--font-roboto);
}
